*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: aqua; */
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
/* 
.box{
width: 100%;
    height: 100%;
    background-color: blueviolet;

}
.box1{
width: 250px;
    height: 250px;
    background-color: black;
margin-top: 9px;
} */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: blue;
}

.right{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:25px;
    cursor: pointer;
}
.move{
margin-top: 16%;
text-align: center;
font-size: 50px;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
align-items: center;
}
#page2 .box{
    width: 200px;
height: 200px;
background-color: red;

}
.move{
    width: 100%;
    height: 60vh;
}